@import "tailwindcss";

@font-face {
  font-family: 'Google Sans';
  src: url('/fonts/GoogleSans-Regular.ttf') format('truetype');
}

* {
    transition: all 300ms ease-in-out;
    scrollbar-width: thin;
    scrollbar-color: #888 #f0f0f0;
    font-family: 'Google Sans';
}

@keyframes pulseSlow {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }
}

.pulse-slow {
    animation: pulseSlow 3s ease-in-out infinite;
}

.pulse-slow:hover {
    animation-play-state: paused;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: #f0f0f0;
}

*::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 8px;
    border: 2px solid #f0f0f0;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


.backface-hidden {
    backface-visibility: hidden;
}

.rotate-y-180 {
    transform: rotateY(180deg);
}


.button-3d:hover {
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.253);
}

.arrow-tooltip {
    rotate: 180deg;
}

.arrow-tooltip path {
    fill: white;
}


.button-3d:hover .arrow-tooltip {
    width: 20px;
    transition-duration: 0.3s;
    transform: translateY(200%);
}

.button-3d::before {
    position: absolute;
    bottom: -20px;
    content: "Back to Top";
    color: black;
    font-size: 0px;
}

.button-3d:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    transition-duration: 0.3s;
}

.animate-spin-slow {
    animation: spin 10s linear infinite;
}